<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>UserServiceRcommandWebServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TotalPageAmount</display-name>
    <servlet-name>TotalPageAmount</servlet-name>
    <servlet-class>com.wangyan.servlets.TotalPageAmount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TotalPageAmount</servlet-name>
    <url-pattern>/TotalPageAmount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MashupTable</display-name>
    <servlet-name>MashupTable</servlet-name>
    <servlet-class>com.wangyan.servlets.MashupTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MashupTable</servlet-name>
    <url-pattern>/MashupTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MashupApiRelation</display-name>
    <servlet-name>MashupApiRelation</servlet-name>
    <servlet-class>com.wangyan.servlets.MashupApiRelation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MashupApiRelation</servlet-name>
    <url-pattern>/MashupApiRelation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Recommand</display-name>
    <servlet-name>Recommand</servlet-name>
    <servlet-class>com.wangyan.servlets.Recommand</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recommand</servlet-name>
    <url-pattern>/Recommand</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.wangyan.servlets.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>nextSearch</display-name>
    <servlet-name>nextSearch</servlet-name>
    <servlet-class>com.wangyan.servlets.nextSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nextSearch</servlet-name>
    <url-pattern>/nextSearch</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>com.wangyan.listener.ModelLoaderListener</listener-class>
  </listener>
</web-app>